.001-home {
  width: 16px;
  height: 16px;
}

.002-home2 {
  width: 16px;
  height: 16px;
}

.003-home3 {
  width: 16px;
  height: 16px;
}

.004-office {
  width: 16px;
  height: 16px;
}

.005-newspaper {
  width: 16px;
  height: 16px;
}

.006-pencil {
  width: 16px;
  height: 16px;
}

.007-pencil2 {
  width: 16px;
  height: 16px;
}

.008-quill {
  width: 16px;
  height: 16px;
}

